.container {
	margin: 0 auto;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.btnUpdate {
	border: none;
	outline: none;
	padding: 10px 23px 10px 10px;
	border-radius: 10px;
	margin: 0 0 20px 10px;
	background: purple;
	color: white;
	cursor: pointer;
	align-self: center;

	&:disabled {
		color: white;
		outline: none;
		background-color: gray;
		&:hover {
			outline: none;
			color: white;
			background-color: gray;
		}
		&:active {
			color: white;
			background-color: gray;
		}
	}

	&:hover {
		background: transparent;
		outline: 1px solid black;
		color: purple;
	}

	&:active {
		border: none;
		background: purple;
		color: white;
	}
}
