.kidsComments {
	width: 85vw;
	margin-left: 100px;
	background-color: #f8f6f6;
	box-shadow: 10px 10px 10px rgba(38, 46, 35, 0.75);
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	margin: 0 0 20px 0;
	display: flex;
}
